<h1>Books</h1>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">Title</div>
    <div class="col">Authour(s)</div>
    <div class="col">Shelf</div>
    <div class="col"></div>
  </div>
</div>

<hr />

<div *ngFor="let book of books" class="row">
  <div class="col"><img [src]="book.coverImage" class="cover-image" /></div>
  <div class="col-6">
    <span>{{ book.title }}</span>
  </div>
  <div class="col">
    <span>{{ book.authors }}</span>
  </div>
  <div class="col">
    <span>{{ book.shelf }}</span>
  </div>
  <div class="col"></div>
</div>
