<h1>Books</h1>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">Title</div>
    <div class="col">Authour(s)</div>
    <div class="col">Shelf</div>
    <div class="col"></div>
  </div>

  <hr />

  <div *ngFor="let book of books" class="row">
    <div class="col"><img [attr.src]="book.CoverImage" class="cover-image" /></div>
    <div class="col-6">
      <span>{{ book.Title }}</span>
    </div>
    <div class="col">
      <span>{{ book.Authors }}</span>
    </div>
    <div class="col">
      <span>{{ book.Shelf }}</span>
    </div>
    <div class="col">
      <button class="btn btn-danger"
              (click)="deleteBook(book.Id)">Delete</button>
    </div>
  </div>
</div>
