@page "/books"
@inject HttpClient Http

<h1>Books</h1>

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var book in books)
        {
            <li>@book.Title - @book.Authors</li>
        }
    </ul>
}


@functions
{
    List<Book> books;

    protected override async Task OnInitAsync()
    {
        books = await Http.GetJsonAsync<List<Book>>("https://uhguay2qye.execute-api.eu-west-2.amazonaws.com/Books/books");
    }

    class Book
    {
        public string Title { get; set; }
        public string Authors { get; set; }
    }
}
