<div class="form-group col-2">
    <label for="title">Title:</label>
    <input placeholder="Title" class="form-control" id="title"/>
</div>

<div class="form-group col-2">
    <label for="author">Author(s):</label>
    <input placeholder="Author(s)" class="form-control" id="author"/>
</div>

<div class="form-group col-2">
    <label for="image">Cover Image:</label>
    <input placeholder="Cover Image" class="form-control" id="image"/>
</div>

<div class="form-group col-2">
    <label for="shelf">Shelf:</label>
    <input placeholder="Shelf" class="form-control" id="shelf"/>
</div>

<div class="form-group col-2">
    <label for="genre">Genre:</label>
    <input placeholder="Genre" class="form-control" id="genre"/>
</div>

<div class="form-check col-2">
    <label for="own">Own:</label>
    <input type="checkbox" id="own"/>
</div>

<hr/>

<div class="col">
    <button class="btn btn-success">Add Book</button>
</div>
