<div class="form-group col-2">
    <label for="title">Title:</label>
    <input [(ngModel)]="book.Title" placeholder="Title" class="form-control" id="title"/>
</div>

<div class="form-group col-2">
    <label for="author">Author(s):</label>
    <input [(ngModel)]="book.Authors" placeholder="Author(s)" class="form-control" id="author"/>
</div>

<div class="form-group col-2">
    <label for="image">Cover Image:</label>
    <input [(ngModel)]="book.CoverImage" placeholder="Cover Image" class="form-control" id="image"/>
</div>

<div class="form-group col-2">
    <label for="shelf">Shelf:</label>
    <input [(ngModel)]="book.Shelf" placeholder="Shelf" class="form-control" id="shelf"/>
</div>

<div class="form-group col-2">
    <label for="genre">Genre:</label>
    <input [(ngModel)]="book.Genre" placeholder="Genre" class="form-control" id="genre"/>
</div>

<div class="form-check col-2">
    <label for="own">Own:</label>
    <input [(ngModel)]="book.Own" type="checkbox" id="own"/>
</div>

<hr/>

<div class="col">
    <button (click)="addBook()" class="btn btn-success">Add Book</button>
</div>
